/*Darcula color scheme*/
#menubar {
    -fx-background-color: #1d0e15;
}

.menu .label{
    -fx-text-fill : #ffffff;
}

.menu-item .label {
    -fx-text-fill : #000000;
}

#loginPane {
    -fx-background-image: url("../img/darcula-back.jpg");
}

.label {
    -fx-text-fill: #d1891d;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
#onlineLabel { -fx-background-color: linear-gradient(#231014 0%, #3a2134 25%, #341c2a 75%, #543846 100%);}

.loginErrorMsg {
    -fx-text-fill: #ff0000;
    -fx-font-size: 17px;
}

.text-field {
    -fx-background-color: #3b2235;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

#textArea .content { -fx-background-image: url("../img/darcula-back.jpg") repeat-y center top; }
#textArea {
    -fx-background-color: #1d0e15;
    -fx-text-fill: #d1891d;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#onlineList {
    -fx-background-image: url("../img/darcula-back.jpg") repeat-y center top;
    -fx-background-color: #1d0e15;
}

.list-cell { -fx-text-fill: #d1891d;}
.list-cell:odd { -fx-background-color: linear-gradient(#231014 0%, #3a2134 25%, #341c2a 75%, #543846 100%);}
.list-cell:even { -fx-background-color: linear-gradient(#543846 0%, #341c2a 25%, #3a2134 75%, #231014 100%);}
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-cell:filled:hover {
    -fx-background-color: #450e3f 40%;
    -fx-text-fill: white;
}

.button {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 7 5 7;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: #013e5b;
    -fx-text-fill: #000000;
}

#textField {
    -fx-font-size: 12px;
}