/*Grass color scheme*/
#menubar {
    -fx-background-color: #055401;
}

.menu .label{
    -fx-text-fill : #ffffff;
}

.menu-item .label {
    -fx-text-fill : #000000;
}

#loginPane {
    -fx-background-image: url("../img/grass-back.jpg");
}

.label {
    -fx-text-fill: #101ade;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.loginErrorMsg {
    -fx-text-fill: #ff0000;
    -fx-font-size: 17px;
}

.text-field {
    -fx-background-color: #59de52;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

#textArea .content {
    -fx-background-image: url("../img/grass-back.jpg") repeat-y center top;
}

#textArea{
    -fx-background-color: #003600;
    -fx-text-fill: #101ade;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.button:hover {
    -fx-background-color: #175e01;
    -fx-text-fill: #000000;
}

#textField {
    -fx-font-size: 12px;
}